#folder=============================
DAQV2-K66F/iar/debug/list/**
DAQV2-K66F/iar/debug/obj/**
DAQV2-K66F/iar/settings/**

#file===============================
DAQV2-K66F/iar/Backup of DAQV2-K66F.ewp
DAQV2-K66F/iar/DAQV2-K66F.dep
DAQV2-K66F/iar/DAQV2-K66F.ewd
DAQV2-K66F/iar/DAQV2-K66F.ewp
DAQV2-K66F/iar/DAQV2-K66F.ewt
DAQV2-K66F/iar/DAQV2-K66F.eww


